[package]
name = "jayrah-config"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
regex = "1.11"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"

[dev-dependencies]
tempfile = "3.14"
